button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: var(--font-primary);
  background-color: var(--bg-button-filter);
  font-size: 16px;
  font-weight: 700;
}

button:hover {
  background-color: #53b10b;
}
