button {
  width: 12.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3125rem;
  color: var(--font-primary);
  background-color: var(--bg-button-filter);
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background-color: #53b10b;
}
