.cart-listing-container {
  background-color: var(--bg-cards);
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
}

.cart-listing-container h3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--font-subtitles);
}

.cart-listing-container p {
  font-size: 16px;
  font-weight: 700;
  color: var(--font-prices);
}

.product-info {
  padding: 10px;
  border: 1px solid var(--border-products);
  border-radius: 5px;
  margin-bottom: 10px;
}
