.cart-listing-container {
  background-color: var(--bg-cards);
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
  border-radius: 0.3125rem;
}

.cart-listing-container h3 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--font-subtitles);
}

.cart-listing-container p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--font-prices);
}

.product-info {
  padding: 0.625rem;
  border: 1px solid var(--border-products);
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
}
