.cart-listing-container {
  background-color: var(--bg-cards);
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
}

.product-info {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #55bc04;
}

.product-info h3 {
  font-size: 0.75rem;
  list-style: none;
  color: #6f6f6f;
}

.product-info p {
  font-size: 1rem;
  font-weight: 700;
  color: #55bc04;
}
